
.header
    padding: 30px 0
    background: $silver-color
    &-content
        display: flex
        align-items: center
        justify-content: space-between
.header-logo
    &-link
        display: flex
        align-items: center
    &-img
        width: 40px
    &-title
        color: $brown-color
        font-size: 30px
        margin-left: 5px
        &-span
            color: $green-color

.header-menu
    display: flex
    gap: 30px
.header-item
    &-link
        position: relative
        color: $green-color
        font-weight: 600
        cursor: pointer
        padding-bottom: 2px
        &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            width: 0%
            height: 2px
            background: $green-color
            transition: width 250ms linear
        &:hover.header-item-link::after
            width: 100%
            height: 2px
